extends ../layout/index

block content
  div.py-5
    h1.text-4xl.my-5.font-extrabold.text-center Real
      span.font-normal Estate
    h2.text-center.text-2xl.font-extrabold=page

    div(class="bg-white shadow py-8 px-4 rounded-lg max-w-md mx-auto")
        p(class= error? 'text-red' : 'text-black').py-2.px-5.rounded-lg.w-full.font-bold.text-center.uppercase=message

        if !error
            a(href="/auth/login" class="text-center font-bold text-sm text-slate-600 uppercase mt-10 block") Go to login