extends ../layout/index

block content
  div.py-5
    h1.text-4xl.my-5.font-extrabold.text-center Real
      span.font-normal Estate
    h2.text-center.text-2xl.font-extrabold=page

    a(href="/real_estate/create" class="rounded py-2 px-10  bg-indigo-400 hover:bg-indigo-600 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Post Real Estate